
<h4>Details (show 2 stocks)</h4>
<br>

<table class="table table-bordered"> 
        <tr >
          <th *ngFor = "let column of headers">
            {{column}}
          </th>
        </tr>
      
        <tr *ngFor = "let row of StockList"  >
          
          <td>
            {{row.symbol}}
      
          </td>
          <td>
              {{row.shortName}}
        
            </td>
            <td>
                {{row.regularMarketPreviousClose}}
          
              </td>
              <td>
                  {{row.fiftyTwoWeekLow}}
            
                </td>
                <td>
                    {{row.fiftyTwoWeekHigh}}
              
                  </td>
                  <td [ngStyle]="{'color': row.fiftyTwoWeekLowChange > 0 ? 'green' : 'red'} ">
                      {{row.fiftyTwoWeekLowChange}}
                
                    </td>
                    <td [ngStyle]="{'color': row.fiftyTwoWeekHighChange > 0 ?  'green' : 'red'} ">
                        {{row.fiftyTwoWeekHighChange}}
                  
                      </td>
        </tr>
      </table>