<br>
<br>
<br>

<br>
<div style="display: block"  >
        <div style=" width: 50%; display: block"  >

          <canvas width="30" height="30"
                  baseChart
                  [datasets]="barChartData" 
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>

      <br>
  <button (click) = "click()">Use axios to request data</button>
  <br>